<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<h2>Add Employee</h2>

    <form action="/employees/add" method="POST">
        <label for="Departament">Departament:</label>
        <input type="text" id="Departament" name="Departament"><br>

        <label for="Nume">Nume:</label>
        <input type="text" id="Nume" name="Nume"><br>

        <label for="Functie">Functie:</label>
        <input type="text" id="Functie" name="Functie"><br>

        <label for="Data_Angajarii">Data Angajarii:</label>
        <input type="text" id="Data_Angajarii" name="Data_Angajarii"><br>

        <label for="Salariu">Salariu:</label>
        <input type="text" id="Salariu" name="Salariu"><br>

        <input type="submit" value="Add Employee">
    </form>

</body>
</html>
